<div class="w-25 vh-100 mx-auto">
  <form
    class="mt-5 d-flex flex-column gap-3"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder="user@mail.com"
        class="form-control"
        formControlName="username"
      />
      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
        <p *ngIf="username?.errors?.['required']" class="text-danger ps-2">
          this field is required
        </p>
        <p *ngIf="username?.errors?.['email']" class="text-danger ps-2">
          please enter valid email
        </p>
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="*****"
        class="form-control"
        formControlName="password"
      />
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <p *ngIf="password?.errors?.['required']" class="text-danger ps-2">
          this field is required
        </p>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
  <div class="mt-5 text-center">
    <p>Make account ? <a routerLink="/register">Sign up</a></p>
  </div>
</div>
