<div class="row p-4">
  <div class="col-md-4">
    <form
      [formGroup]="passengerForm"
      (ngSubmit)="
        onSubmit({
          name: passengerForm.value.name,
          city: passengerForm.value.city
        })
      "
    >
      <div class="d-flex align-items-center justify-content-between mb-2">
        <label for="id">Id</label>
        <input
          type="number"
          class="form-control w-50"
          placeholder="1"
          formControlName="id"
          readonly
        />
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <label for="name">Nama</label>
        <input
          type="text"
          class="form-control w-50"
          placeholder="Sayuti"
          formControlName="name"
        />
      </div>
      <div class="d-flex align-items-center justify-content-between mb-2">
        <label for="city">Kota</label>
        <input
          type="text"
          class="form-control w-50"
          placeholder="Jakarta"
          formControlName="city"
        />
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
          {{ isEdit ? "Update" : "Submit" }}
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nama</th>
          <th scope="col">Kota</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let passenger of passengerService.passengers | async;
          index as idx
        "
      >
        <tr>
          <th>{{ passenger.id }}</th>
          <td [routerLink]="['/passengers/' + passenger.id]">
            {{ passenger.name }}
          </td>
          <td>{{ passenger.city }}</td>
          <td>
            <button
              type="button"
              class="btn text-primary"
              (click)="onDelete(passenger.id)"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn text-primary"
              (click)="onEdit(idx)"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
